@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Libre+Barcode+128+Text&family=Shadows+Into+Light+Two&family=Zen+Tokyo+Zoo&display=swap');


* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
}

html, body {
    height: 100vh;
    background-color: #0D0D0D;
}

main  {
    height: 100vh;
    position: relative;
    margin: auto;
    margin-top: 10px;
}

section > h2, h3 {
    padding-bottom: 20px;
}

h4 {
    font-size: 1em;
    line-height: 1.5em;
}

h5 {
    font-size: 0.8em;
    line-height: 1.5em;
}

section > p {
    text-align: justify;
    margin-bottom: 20px;
}

p, h1, h2, h3 {
    color: #fff;
}

ul {
    list-style: none;
    margin: 0 0 2rem 0;
}

/* Botão */

.button {
    background-color: transparent;
    border-radius: 3px;
    border: 0;
    box-shadow: inset 0 0 0 2px #fff;
    color: #fff;
    cursor: pointer;
	display: inline-block;
    font-size: 1em;
    font-weight: 600;
	height: 3.125em;
    letter-spacing: 0.225em;
    line-height: 3.125em;
    margin: 1em 0;
    margin-top: 1em;
    padding: 0 2.75em;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
    margin-left: 2em;
}

    .button:hover {
        background-color: #595958;
    }

/* Menu */

.logo {
    font-size: 36px;
    color: #fff;
    font-family: 'Libre Barcode 128 Text', cursive;
}

header {
    margin: auto 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
}

.menu {
    top: 70px;
    left: 0px;
    width: 100%;
}

.menu ul {
    display: flex;
    flex-direction: column;
    margin: 0px;
    justify-content: center;
    background-color: #595958a2;
}

.menu li {
    text-align: center;
    padding: 10px;
}

.menu li:not(:last-of-type) {
    border-bottom: 1px solid #CCC;
}


i#hamburguer {
    background-color: #0D0D0D;
    color: #fff;
    display: block;
    text-align: right;
    cursor: pointer;
}

/* Banner */

#banner {
    background: url('../images/banner.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    padding: 0;
    height: 800px;
}

#banner .inner {
    position: relative;
    margin: 0 auto;
    padding-top: 15em;
    padding-bottom: 15em;
    text-align: center;
}

#banner .inner h2 {
    display: inline-block;
    font-size: 3em;
    opacity: 1;
    padding: 0.5em 0;
    color: #fff;
    text-shadow: 2px  2px 5px #595958;
}

#banner h2:before, #banner h2:after {
    background: #fff;
    content: '';
    display: block;
    height: 3px;
    width: 100%;
}

#banner .inner > p {
    font-size: 1.3em;
    padding-bottom: 1em;
    letter-spacing: 5px;
    color: #fff;
    text-shadow: 2px  2px 5px #595958;
}

/* Banner página Destinos */

#banner-pages {
    background: url('../images/bannerpages.jpg') no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    padding: 15em 0;
    display: flex;
    flex-direction: column;
    height: 20vh;
}

#banner-pages h2 {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-size: 3em;
    opacity: 1;
    padding: 0.5em 0;
    position: relative;
    color: #fff;
    text-shadow: 2px  2px 5px #595958;
}
    
#banner-pages h2:before, #banner-pages h2:after {
    background: #fff;
    content: '';
    display: block;
    height: 3px;
    width: 100%;
}

#banner-pages > p {
    font-size: 1.3em;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 1em;
    letter-spacing: 5px;
    color: #fff;
    text-shadow: 2px  2px 5px #595958;
}

/* One */
#one.style1 {
    margin-top: -1em;
    padding: 6em 0 6em 0;
    background-color: #595958;
    height: auto;
    align-items: center;
}

#one.style1 > h2 {
    color: white;
    text-align: center;
    font-size: 2em;
    letter-spacing: 5px;
    border-bottom: 2px solid white;
    position: relative;
    width: 100%;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 0.225em;
    text-transform: uppercase;
}

#one.style1 > p {
    text-align: justify;
    letter-spacing: 3px;
    padding: 1em 1em;
    width: 80%;
    margin: auto;
    position: relative;
}

/* Two */
#two.style1 {
    background-color: #26010B;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    position: relative;
    text-align: left;
}

#two.style1 .content {
    padding: 7rem 0 5rem 0;
    align-self: center;
    flex-grow: 1;
    flex-shrink: 1;
    width: 80%;
    margin: 0 auto;
}

#two.style1 .content h2 {
    padding: 1em;
    font-size: 2em;
    font-weight: 300;
    letter-spacing: 0.225em;
    text-transform: uppercase;
    color: #fff;
    max-width: 50%;
}

#two.style1 .content p {
    padding: 0 2em;
    letter-spacing: 0.1em;
    text-align: justify;
}


/* Three */
#three {
    background-color: #594336;
    text-align: center;
    padding: 20px;
}

#three h2 {
    padding-top: 20px;
    font-size: 2em;
    font-weight: 300;
    letter-spacing: 0.225em;
    text-transform: uppercase;
}

/* Container */
.container {
    background-color: #594336;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    box-sizing: border-box;
    gap: 30px;
    flex-wrap: wrap;
}

.container h3 {
    font-size: 1.3em;
    font-weight: 300;
    padding-top: 1em;
    letter-spacing: 0.225em;
    text-transform: uppercase;
}

.container p {
    padding-bottom: 1em;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 0.070em;
    margin: 0 auto;
    text-align: justify;
}

.container .card {
    max-width: 350px;
}

.card img {
    width: 100%;
    display: block;
}

/* Image */
.image {
    border: 0;
    display: inline-block;
}

.image img {
    display: block;
}

/* Footer */

footer .icons {
    display: flex;
    justify-content: center;
}

footer .icons a {
    color: #fff;
    background-color: #594336;
    width: 50px;
    height: 50px;
    margin: 30px 5px 5px 5px ;
    border-radius: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    font-size: 30px;
}

footer .icons a:hover {
    background-color: #595958;
}

footer .copyright {
    color: white;
    font-size: 1em;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    letter-spacing: 3px;
}

/* Página de contato */

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 2em;
}

form input, form textarea {
    margin-bottom: 16px;
    padding: 3px 0;
}

form > h3 {
    padding-top: 10px;
    letter-spacing: 3px;
    font-size: 1.5em;
}

.campo {
    margin-bottom: 1em;
}

.campo > label {
    margin-bottom: 0.2em;
    display: block;
}

.campo input[type="text"], .campo input[type="email"], .campo textarea {
    padding: 0.2em;
    box-shadow: 2px 2px 2px rgb(0,0,0,0.2);
    display: block;
}


@media screen and (max-width: 900px) {
    #two .image {
        display: none;
    }
    
}

/* Página de destinos */

.destinos {
    padding: 0;
    margin: 0 auto;
    background-color: #595958;
    height: auto;
    display: block;
    align-items: center;
}

.destinos .places {
    padding-bottom: 40px;
}

.destinos h2 {
    padding-top: 30px;
    width: 80%;
    margin: auto;
    background-color: #595958;
    height: auto;
    display: block;
    align-items: center;
    letter-spacing: 0.225em;
    text-transform: uppercase;
    font-weight: 300;
}

.destinos p {
    padding-bottom: 50px;
    width: 80%;
    margin: 0 auto;
    background-color: #595958;
    height: auto;
    display: block;
    align-items: center;
    letter-spacing: 0.1em;
}

video  {
    padding: 10px 0 0 0;
    width: 500px;
    display: flex;
    margin: 0 auto;    
    align-self: center;
}

@media screen and (max-width: 900px) {
    video  {
        padding: 10px;
        width: 300px;
        display: flex;
        margin: auto;    
        align-self: center;
    }  
}

/* Carossel */

section.slider {
    margin: 0 auto;
    width: 550px;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.slider-content {
    display: flex;
}

.slider-content input, .img-mobile {
    display: none;
}

.slide-box {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img {
    width: 550px;
    height: 700px;
    margin: 0;
}

.nav-manual {
    position: absolute;
    display: flex;
    width: 70%;
    align-self: flex-end;
}

.nav-manual .manual-btn, .nav-manual .manual-btn1, .nav-manual .manual-btn2, .nav-manual .manual-btn3, .nav-manual .manual-btn4, .nav-manual .manual-btn5, .nav-manual .manual-btn6, .nav-manual .manual-btn7, .nav-manual .manual-btn8, .nav-manual .manual-btn9 {
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.nav-manual .manual-btn:not(:last-child), .nav-manual .manual-btn1:not(:last-child), .nav-manual .manual-btn2:not(:last-child), .nav-manual .manual-btn3:not(:last-child), .nav-manual .manual-btn4:not(:last-child), .nav-manual .manual-btn5:not(:last-child), .nav-manual .manual-btn6:not(:last-child), .nav-manual .manual-btn7:not(:last-child), .nav-manual .manual-btn8:not(:last-child), .nav-manual .manual-btn9:not(:last-child) {
    margin-right: 5px;
}

.nav-manual .manual-btn:hover, .nav-manual .manual-btn1:hover, .nav-manual .manual-btn2:hover, .nav-manual .manual-btn3:hover, .nav-manual .manual-btn4:hover, .nav-manual .manual-btn5:hover, .nav-manual .manual-btn6:hover, .nav-manual .manual-btn7:hover, .nav-manual .manual-btn8:hover, .nav-manual .manual-btn9:hover {
    background-color: #fff;
    transition: 0.2s;
}

#radio1:checked ~ .primeiro, #radiog1:checked ~ .primeiro, #radiou1:checked ~ .primeiro, #radiot1:checked ~ .primeiro, #radiosb1:checked ~ .primeiro, #radiol1:checked ~ .primeiro, #radiorc1:checked ~ .primeiro, #radiojb1:checked ~ .primeiro, #radiorj1:checked ~ .primeiro, #radioi1:checked ~ .primeiro {
    margin-left: 0;
}

#radio2:checked ~ .primeiro, #radiog2:checked ~ .primeiro, #radiou2:checked ~ .primeiro, #radiot2:checked ~ .primeiro, #radiosb2:checked ~ .primeiro, #radiol2:checked ~ .primeiro, #radiorc2:checked ~ .primeiro, #radiojb2:checked ~ .primeiro, #radiorj2:checked ~ .primeiro, #radioi2:checked ~ .primeiro {
    margin-left: -550px;
}

#radio3:checked ~ .primeiro, #radiog3:checked ~ .primeiro, #radiou3:checked ~ .primeiro, #radiot3:checked ~ .primeiro, #radiosb3:checked ~ .primeiro, #radiol3:checked ~ .primeiro, #radiorc3:checked ~ .primeiro, #radiojb3:checked ~ .primeiro, #radiorj3:checked ~ .primeiro, #radioi3:checked ~ .primeiro {
    margin-left: -1100px;
}

#radio4:checked ~ .primeiro, #radiog4:checked ~ .primeiro, #radiou4:checked ~ .primeiro, #radiot4:checked ~ .primeiro, #radiol4:checked ~ .primeiro, #radiorc4:checked ~ .primeiro, #radiojb4:checked ~ .primeiro, #radiorj4:checked ~ .primeiro, #radioi4:checked ~ .primeiro {
    margin-left: -1650px;
}

#radio5:checked ~ .primeiro, #radiog5:checked ~ .primeiro, #radiou5:checked ~ .primeiro, #radiot5:checked ~ .primeiro, #radiol5:checked ~ .primeiro, #radiorc5:checked ~ .primeiro, #radiojb5:checked ~ .primeiro, #radiorj5:checked ~ .primeiro, #radioi5:checked ~ .primeiro {
    margin-left: -2200px;
}

#radio6:checked ~ .primeiro, #radiog6:checked ~ .primeiro, #radiou6:checked ~ .primeiro, #radiot6:checked ~ .primeiro, #radiorc6:checked ~ .primeiro, #radiojb6:checked ~ .primeiro, #radiorj6:checked ~ .primeiro, #radioi6:checked ~ .primeiro {
    margin-left: -2750px;
}

#radio7:checked ~ .primeiro, #radiou7:checked ~ .primeiro, #radiorc7:checked ~ .primeiro, #radiojb7:checked ~ .primeiro {
    margin-left: -3300px;
}

#radio8:checked ~ .primeiro, #radiou8:checked ~ .primeiro {
    margin-left: -3850px;
}

#radio9:checked ~ .primeiro, #radiou9:checked ~ .primeiro {
    margin-left: -4400px;
}

@media screen and (max-width: 900px) {
    .img-desktop {
        display: none;
    }

    .img-mobile {
        display: block;
    }

    section.slider {
        width: 300px;
    }
    
    .slide-box img {
        width: 300px;
        height: 370px;
    }

    .nav-manual {
        position: absolute;
        display: flex;
        width: 70%;
        align-self: flex-end;
    }

    
    #radio1:checked ~ .primeiro, #radiog1:checked ~ .primeiro, #radiou1:checked ~ .primeiro, #radiot1:checked ~ .primeiro, #radiosb1:checked ~ .primeiro, #radiol1:checked ~ .primeiro, #radiorc1:checked ~ .primeiro, #radiojb1:checked ~ .primeiro, #radiorj1:checked ~ .primeiro, #radioi1:checked ~ .primeiro {
        margin-left: 0;
    }

    #radio2:checked ~ .primeiro, #radiog2:checked ~ .primeiro, #radiou2:checked ~ .primeiro, #radiot2:checked ~ .primeiro, #radiosb2:checked ~ .primeiro, #radiol2:checked ~ .primeiro, #radiorc2:checked ~ .primeiro, #radiojb2:checked ~ .primeiro, #radiorj2:checked ~ .primeiro, #radioi2:checked ~ .primeiro {
        margin-left: -300px;
    }

    #radio3:checked ~ .primeiro, #radiog3:checked ~ .primeiro, #radiou3:checked ~ .primeiro, #radiot3:checked ~ .primeiro, #radiosb3:checked ~ .primeiro, #radiol3:checked ~ .primeiro, #radiorc3:checked ~ .primeiro, #radiojb3:checked ~ .primeiro, #radiorj3:checked ~ .primeiro, #radioi3:checked ~ .primeiro {
        margin-left: -600px;
    }

    #radio4:checked ~ .primeiro, #radiog4:checked ~ .primeiro, #radiou4:checked ~ .primeiro, #radiot4:checked ~ .primeiro, #radiol4:checked ~ .primeiro, #radiorc4:checked ~ .primeiro, #radiojb4:checked ~ .primeiro, #radiorj4:checked ~ .primeiro, #radioi4:checked ~ .primeiro {
        margin-left: -900px;
    }

    #radio5:checked ~ .primeiro, #radiog5:checked ~ .primeiro, #radiou5:checked ~ .primeiro, #radiot5:checked ~ .primeiro, #radiol5:checked ~ .primeiro, #radiorc5:checked ~ .primeiro, #radiojb5:checked ~ .primeiro, #radiorj5:checked ~ .primeiro, #radioi5:checked ~ .primeiro {
        margin-left: -1200px;
    }

    #radio6:checked ~ .primeiro, #radiog6:checked ~ .primeiro, #radiou6:checked ~ .primeiro, #radiot6:checked ~ .primeiro, #radiorc6:checked ~ .primeiro, #radiojb6:checked ~ .primeiro, #radiorj6:checked ~ .primeiro, #radioi6:checked ~ .primeiro {
        margin-left: -1500px;
    }

    #radio7:checked ~ .primeiro, #radiou7:checked ~ .primeiro, #radiorc7:checked ~ .primeiro, #radiojb7:checked ~ .primeiro {
        margin-left: -1800px;
    }

    #radio8:checked ~ .primeiro, #radiou8:checked ~ .primeiro {
        margin-left: -2100px;
    }

    #radio9:checked ~ .primeiro, #radiou9:checked ~ .primeiro {
        margin-left: -2400px;
    }
}